.header {
  &__controls-btn {
    margin: 1rem 0 0 2rem;
    width: 65rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
  }

  &__btn-add {
    background-color: green;
  }

  &__btn-edit {
    background-color: orange;
  }

  &__btn-remove {
    background-color: red;
  }

  &__btn-archive {
    background-color: blue;
  }
}
