@use './button';
@use './header';
@use 'inputs';
@use 'data-section';

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.app-body {
  box-sizing: border-box;
  height: 100vh;
  background: -webkit-linear-gradient(to top, #b2fefa, #0ed2f7);
  background: linear-gradient(to top, #b2fefa, #0ed2f7);
}







