.notes-field {
  &__wrapper {
    margin: 2rem 0 0 2rem;
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 2rem auto;
    font-family: Roboto, sans-serif;
    font-size: 3rem;
    font-weight: 500;
  }
}
