.note {
  width: 95%;
  margin: 0 auto 0.5rem;
  height: 8rem;
  display: grid;
  grid-template-columns: 10% 65% 10% 15%;
  grid-template-areas: "tm ct cg dt";
  font-family: Roboto, sans-serif;

  &__creation-time {
    grid-area: tm;
    display: grid;
    place-items: center;
    border: 1px solid gray;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 500;
  }

  &__content {
    grid-area: ct;
    border: 1px solid gray;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;

  }

  &__category {
    grid-area: cg;
    border: 1px solid gray;
    width: 100%;
    font-size: 2.2rem;
    display: grid;
    place-items: center;
  }

  &__dates-in-note {
    grid-area: dt;
    border: 1px solid gray;
    width: 100%;
    font-size: 1.8rem;
    display: grid;
    place-items: center

  }
}
